html {
  overflow-x: hidden;
}
body {
  display: block;
  margin: 0 auto;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

a {
  color: black;
}

li {
  list-style: none;
}

.headerNav {
  position: relative;
  padding: 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  height: 80px;
  align-items: center;
  &__container {
    display: none;
  }
  &__item1 {
    padding: 0;
    display: flex;
    color: #ff385c;
    margin: 0;
    line-height: 80px;
    align-items: center;
    h3 {
      margin: 0;
    }
    i {
      font-size: 38px;
    }
  }
  &__item2 {
    padding: 0 0 0 8px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 24px;
    box-sizing: border-box;
    height: 48px;
    width: 300px;
    margin: 0;
    line-height: 80px;
    font-weight: bold;
    .search__btn {
      display: flex;
      background-color: #ff385c;
      box-sizing: border-box;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      color: white;
      margin: 7px 7px 7px 0;
      font-size: 14px;
    }
    div {
      line-height: 50px;
      font-size: 13.3333px;
      padding: 0 16px;
    }
    &:hover {
      cursor: pointer;
      user-select: none;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    }
  }
  &__item3 {
    padding: 0;
    display: flex;
    flex-grow: 1;
    gap: 20px;
    padding: 0;
    flex-direction: row-reverse;
    text-align: right;
    align-items: center;
    top: 40px;
    margin: 0;
    font-weight: bold;

    &-1 {
      gap: 15px;
      align-items: center;
      justify-content: center;
      display: flex;
      padding: 5px 5px 5px 12px;
      height: 30px;
      width: 58px;
      background-color: white;
      border: 1px solid #222;
      border-radius: 21px;
      &:hover {
        cursor: pointer;
        transition-duration: 0.3s;
        transition-timing-function: linear;
        user-select: none;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
  &__sp {
    display: none;
  }
}
    .fixed {
      transition-duration: 0.5s;
      display: block;
      width: 100%;
      position: fixed;
      background-color: white;
      top: 0;
      z-index: 1;
    }

.info {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 14px;
  a {
    color: black;
    font-weight: bold;
  }
}

.background {
  height: 605px;
  background-position: center;
  background-image: url(../images/img2.jpg);
  background-size: cover;
  display: relative;
  &__container {
    &--big {
      height: 605px;
    }
    &--small {
      height: 100%;
    }
  }
}

i {
  vertical-align: middle;
}
header {
  padding: 0 80px;
  .top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
    align-items: center;

    &__item1 {
      display: inline-block;
      height: 80px;
      align-items: center;
      &List {
        display: flex;
        padding: 0;
        line-height: 80px;
        margin: 0;
        li {
          h3 {
            margin: auto 0;
            line-height:  80px;
          }
        }
      }
    }

    &__item2 {
      display: inline-block;
      padding: 0 auto;

    }

    &__item3 {
      display: inline-block;
    }

    div {
      flex-grow: 1;
      top: 40px;

      h3 {
        color: white;
        margin: 0;
        // line-height: 38px;
        margin-left: 5px;
      }
    }

    .icon {
      font-size: 38px;
      color: white;
    }
    &__list {
      display: flex;
      flex-grow: 1;
      gap: 20px;
      padding: 0;
      flex-direction: row-reverse;
      text-align: right;
      align-items: center;
      top: 40px;
      margin: 0;
      font-weight: bold;
      
      &1 {
        gap: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 5px 5px 5px 12px;
        height: 30px;
        width: 58px;
        background-color: white;
        border-radius: 21px;
        i {
          color: gray;
          align-items: center;
          vertical-align: middle;
        }

        &2 {
          align-items: center;
          position: relative;
          i {
            position: absolute;
            // top: 10px;
          }
        }
      }

      li{
        color: white;
        white-space: nowrap;
      }
    }
  }

  .header {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    gap: 30px;
    padding: 0;
    left: 50%;
    top: 40px;
    margin: 0;
    &__list {
      color: white;
      text-decoration: none;
      transition-duration: 0.2s;
      white-space: nowrap;
      &:hover {
        cursor: pointer;
      }
    }
  }
} 



.topMenu1 {
  margin: 0 auto;
  width:  850px;
  display: flex;
  align-items: center;
  background-color: white;
  ul {
    box-sizing: border-box;
    li {
      &:nth-child(2) {
        opacity: 0.5;
      }
    }
  }
  &__item1 {
    width: 270px;
  }
          
  &__item2, &__item3 {
   width: 180px;
  }
          
  &__item4 {
  width: 220px;
    }
 
}

.topMenu2 {
  display: flex;
  background-color: white;
  width: 850px;
  margin: 0 auto;
  &__item1 {
    width: 410px;
  }

  &__item2 {
    width: 440px;
  }
}
.topMenu {
  height: 68px;
  border-radius: 34px;
  transition-duration: 0.1s;
  &__sp {
    display: none;
  }

  .border__vertical {
    border-right: 1px solid gray;
  }
  .search__btn {
    display: flex;
    background-color: #ff385c;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: auto 10px auto 0;
    padding: 0 25px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    i {
      color: white;
      text-align: center;
    }
    &:hover {
      cursor: pointer;
      background-color: darken(#ff385c, 20%);
    }
  }
  ul {
    padding-left: 25px;
    li {
      &:nth-child(2) {
        opacity: 0.5;
      }
      font-size: 14px;
      line-height: 18px;
    }
  }
      &__headline {
       font-weight: bold;
       font-size: 12px !important;
       line-height: 16px !important;
     }
}

.message {
  width: 300px;
  margin: 120px 0 160px 0;

  h1{
    color: white;
    margin: 0;
    line-height: 40px;
    font-size: 40px;
  }
  
  p {
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }

  &-btn {
    background-color: white;
    width: 200px;
    line-height: 35px;
    border-radius: 5px;
    p{
      padding: 0 15px;
      width: 170px;
      font-size: 14px;
      display: inline-block;
      margin: 0 auto;
      font-weight: bold;
      color: black;
      user-select: none;
    }

    &:hover {
      cursor: pointer;
      background-color: darken(white, 10%);
    }
  }
}

article {
  width: 100%;
  padding: 60px 85px 70px 80px;
  box-sizing: border-box;
  
  .container {
    display: grid;
    gap: 15px;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    
    &__item {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      
      div {
        padding: 12px 16px 16px 16px;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      
      h2 {
        font-size: 18px;
        line-height: 22px;
        margin: 0;
      }
      
      p{
        margin: 4px 0 0 0;
        font-size: 14px;
        line-height: 18px;
        color: gray;
        word-wrap: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
  }
}

.main {
  background-color: black;
  width: 100%;
  padding: 0 80px;
  box-sizing: border-box;
  
  &__top {
    // display: flex;
    justify-content: space-between;
    padding-top: 65px;
    position: relative;
    &Text {
      left: 0;
      h2 {
        color: white;
        font-size: 30px;
        margin: 0;
      }
      p {
       color: white;
       margin-bottom: 30px;
       margin-top: 0;
       width: 450px;
    }
    }
    &btn {
      position: absolute;
      background-color: black;
      top: 48px;
      right: 0;
      width: 100px;
      height: 30px;
      border: 1px solid white;
      box-sizing: border-box;
      border-radius: 8px;
      &:hover {
        background-color: #616161;
      }
      a {
        text-decoration: none;
        line-height: 30px;
        font-weight: bold;
        color: white;
        display: block;
        text-align: center;
        font-size: 14px;
      }
      
    }
  }

  &__container {
    padding: 0;
    &-small {
      padding: 0 0 80px 0;
      display: grid;
      grid-template-areas:
      "areaA areaA areaB areaC"
      "areaA areaA areaD areaD";
      gap: 15px;
  }
  }

  &__list1 {
    grid-area: areaA;
    
    div {
      position: relative;
      border-radius: 4px;
      overflow: hidden;
    }
    img {
      max-width: 100%;
    }

    h2 {
      position: absolute;
      background-color: #222222;
      bottom: 0;
      font-size: 15px;
      margin: 0;
      padding: 15px 10px;
      height: 75px;
      width: 100%;
      color: white;
      box-sizing: border-box;
    }
  }

  &__list2 {
    grid-area: areaB;
    
    div {
      position: relative;
      border-radius: 4px;
      overflow: hidden;
    }
    img {
      max-width: 100%;
    }
    h2 {
      position: absolute;
      background-color: #222222;
      bottom: 0;
      font-size: 15px;
      margin: 0;
      padding: 15px 10px;
      height: 75px;
      width: 100%;
      color: white;
      box-sizing: border-box;
    }
  }
  
  &__list3 {
    grid-area: areaC;
    
    div {
      position: relative;
      border-radius: 4px;
      overflow: hidden;
    }
    img {
      max-width: 100%;
    }
    h2 {
      position: absolute;
      background-color: #222222;
      bottom: 0;
      font-size: 15px;
      margin: 0;
      padding: 15px 10px;
      height: 75px;
      width: 100%;
      box-sizing: border-box;
      color: white;
    }
  }

  &__list4 {
    grid-area: areaD;
    
    div {
      position: relative;
      border-radius: 4px;
      overflow: hidden;
    }
    img {
      max-width: 100%;
    }
    h2 {
      position: absolute;
      background-color: #222222;
      bottom: 0;
      font-size: 15px;
      margin: 0;
      padding: 15px 10px;
      height: 75px;
      width: 100%;
      color: white;
      box-sizing: border-box;
    }
  }
}

.border {
  border-bottom: 1px solid gray;
  margin-bottom: 25px;
  opacity: 0.4;
}

.footer {
  padding: 0 80px;
  &__Nav {
    display: none;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    &1, &2, &3, &4 {
      padding: 0 12px;
    }

    p {
      font-weight: bold;
      font-size: 12px;
      margin-top: 50px;
    }
    ul {
      padding: 0;
    li {
      line-height: 18px;
      padding-bottom: 20px;
      font-size: 14px;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    }
  }

  &__item {
    display: flex;
    a {
      text-decoration: none;
    }
    &Container {
      display: flex;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    padding: 0;

    &Container {
      display: flex;
    }

    &--item1 {
      a {
        text-decoration: none;
        display: inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &--item2 {
      display: flex;
      gap: 24px;
      margin-right: 56px;
      a {
        text-decoration: none;
      }
      p {
        display: flex;
      }
    }

    a, p {
      font-size: 14px;
      margin: 0;
    }

    a {
      display: block;
    }
    .language {
      gap: 5px;
      display: flex;
      h3 {
        margin: 0;
        font-size: 14px;
      }

      &Container {
        display: flex;
        gap: 15px;
      }

    }

    .sns {
      margin-right: 25px;
    }
  }
  .border {
    display: none;
  }
}

@import "responsive";